<div id="gameInfo" class="container">
  <div class="col info">
    <h3 class="center-align">Время</h3>
    <div id="time" class="center-align">{{time}}</div>
  </div>
  <div class="col info">
    <h3 class="center-align">Ходы</h3>
    <div id="moves" class="center-align">{{moves}}</div>
  </div>
</div>

<div id="game" class="game">
  <div class="rowM" *ngFor="let row of state; let y = index">
    <div [ngClass]="cell == 0 ? 'empty' :'cell'"
         *ngFor="let cell of row; let x = index; trackBy: trackBy"
         (click)="move({y: y,x: x})"
         [@move]="cell === lastMove.cell ? lastMove.from : undefined"
    >{{cell}}</div>
  </div>
</div>

<div class="row center-align">
  <button class="waves-effect deep-purple accent-2 btn-large m10" (click)="resetGame()">Начать заново</button>
</div>


